<div id="variable-expense" class="m-3 p-3 rounded-container cs-container">
    <h3 style="text-align: center;"> Despesas variáveis </h3>
    <hr style="width: 75%; margin: auto;">

    <div class="p-1">
        <h5 style="text-align: center; color: rgb(151, 1, 1);">Custo do mês: R$ 750,90 </h5>
    </div>
</div>
<div id="variable-expense" class="m-3 p-3 rounded-container cs-container">
    <h3 style="text-align: center;"> Despesas Fixas </h3>
    <hr style="width: 75%; margin: auto;">

    <div class="p-1">
        <h5 style="text-align: center; color: rgb(151, 1, 1);">Custo do mês: R$ 240,00 </h5>
    </div>
</div>
<div id="variable-expense" class="m-3 p-3 rounded-container cs-container">
    <h3 style="text-align: center;"> Despesas Recorrentes </h3>
    <hr style="width: 75%; margin: auto;">

    <div class="p-1">
        <h5 style="text-align: center; color: rgb(151, 1, 1);">Custo do mês: R$ 1450,00 </h5>
        <h5 style="text-align: center; color: rgb(95, 155, 0);">Acabam esse mês: 1 </h5>
    </div>
</div>