.example-spacer {
    flex: 1 1 auto;
}

span.mat-tab-title {
    text-align: center;
    width: 100%;
}

.cs-tab-label {
    display: grid;
}

.tab-icon {
    margin: auto;
}

:host ::ng-deep .mat-tab-header {
    width: 100%;
    position: fixed !important;
    bottom: 0;
}