<!-- <div *ngIf="baseQuestions" class="container mt-5 m-auto">
    <app-dynamic-form [questions]="baseQuestions" (formOutput)="onSubmit($event)"></app-dynamic-form>
</div> -->

<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <!-- Only to align title text -->
              <mat-icon style="font-size: 40px;"></mat-icon>
        </button>
        <span class="mat-tab-title">Expenses control</span>
        <button mat-icon-button>
              <mat-icon style="font-size: 40px;">account_circle</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group mat-stretch-tabs headerPosition="below">
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="cs-tab-label">
                <mat-icon class="tab-icon">today</mat-icon>
                Mensal
            </div>
        </ng-template>
        <div class="tab-content">
            <app-monthly-information></app-monthly-information>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="cs-tab-label">
                <mat-icon class="tab-icon">fact_check</mat-icon>
                Anual
            </div>
        </ng-template>
        <div class="tab-content">
            <app-annual-information></app-annual-information>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="cs-tab-label">
                <mat-icon class="tab-icon">paid</mat-icon>
                Banco
            </div>
        </ng-template>
        <div class="tab-content">
            <app-bank-information></app-bank-information>
        </div>
    </mat-tab>
</mat-tab-group>